@use "_mixin" as m;
@use "_common" as *;

#about {
  padding-top: 144px;
  margin-left: $header-space-pc;

  @include m.tb {
    margin-left: 0;
  }

  .concept {
    position: relative;
    overflow-x: hidden;
    padding-top: $section-space-pc;

    .wrapper {
      text-align: center;

      .title {
        margin-bottom: $section-space-sp;

        .nobreak {
          font-size: $fs-lg;
          color: $font-color;
          display: inline-block;
          white-space: nowrap;

          @include m.sp {
            font-size: 2rem;
            white-space: unset;
          }
        }

        .yellow {
          color: $accent-color;
        }
      }

      .text {
        line-height: 1.6;

        @include m.sp-650 {
          text-align: left;
          font-size: 1.4rem;
          line-height: 1.4;
        }
      }
    }

    .maru-border-m {
      position: absolute;
      left: -30px;
      bottom: 50px;
    }

    .maru-stripe {
      position: absolute;
      left: 100px;
      bottom: 30px;
    }
  }

  .about {
    overflow-x: hidden;
    padding-top: 200px;
    padding-bottom: 300px;

    @include m.tb-1100 {
      padding-bottom: 270px;
    }

    @include m.tb {
      padding-top: 150px;
    }

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      // overflow-x: hidden;

      @include m.sp-650 {
        flex-direction: column;
      }

      .text {
        width: 70%;
        color: $main-color;

        @include m.tb-1100 {
          width: 75%;
        }

        @include m.sp-650 {
          width: 100%;
        }

        .text-1 {
          color: $accent-color;
          font-size: $fs-lg;
          margin-bottom: 24px;
        }

        .text-2 {
          margin-bottom: 24px;

          .name,
          .date {
            font-size: $fs-sm;
            color: $main-color;
            white-space: nowrap;
          }

          .date {
            letter-spacing: 0.01em;
          }
        }

        .text-3,
        .text-4,
        .text-5 {
          font-size: 1.4rem;
          text-align: justify;
          text-justify: inter-ideograph;
          margin-bottom: 16px;
        }
      }

      .img-box {
        width: 200px;
        border-bottom: 2px solid $accent-color;
        animation: poyoyon3 2.5s infinite;
        opacity: 1;

        @include m.tb-1100 {
          width: 150px;
        }

        @include m.sp-650 {
          width: 120px;
          position: absolute;
          left: 30px;
          bottom: -240px;
        }

        @include m.sp {
          width: 100px;
          bottom: -200px;
        }

        img {
          transform: rotateY(180deg);
          filter: brightness(75%);
        }
      }

      .img-ia {
        width: 100px;
        position: absolute;
        top: -150px;
        right: 50px;
        filter: brightness(80%);
        animation: poyoyon3 2.5s infinite;
        border-right: 2px solid $accent-color;

        @include m.tb {
          width: 80px;
          top: -100px;
        }

        @include m.sp-650 {
          right: 30px;
        }

        @include m.sp {
          width: 65px;
        }
      }

      .eve {
        width: 200px;
        position: absolute;
        right: 200px;
        bottom: -180px;
        transform: rotate(-20deg);

        @include m.tb-1100 {
          width: 180px;
          right: 130px;
          bottom: -150px;
        }

        @include m.sp-650 {
          display: none;
          // width: 150px;
          // right: 50px;
          // bottom: -850px;
        }

        // @include m.sp {
        //   width: 120px;
        //   right: 40px;
        //   bottom: -860px;
        // }

        .img-eve {
          filter: brightness(80%);
          animation: poyoyon3 2.5s infinite;
          border-bottom: 2px solid $accent-color;
        }
      }

      .maru-border-s {
        position: absolute;
        right: 100px;
        bottom: -200px;

        @include m.tb-1100 {
          right: 80px;
          bottom: -170px;
        }

        @include m.sp-650 {
          // display: none;
          right: -20px;
          bottom: -50px;
        }
      }
    }
  }

  .skills {
    position: relative;
    overflow-x: hidden;

    @include m.sp {
      padding-bottom: 192px;
    }

    .eve {
      width: 150px;
      position: absolute;
      right: 50px;
      bottom: 70px;
      transform: rotate(-20deg);
      display: none;

      @include m.sp-650 {
        display: block;
      }

      // @include m.sp {
      //   width: 120px;
      //   right: 40px;
      //   bottom: -860px;
      // }

      .img-eve {
        filter: brightness(80%);
        animation: poyoyon3 2.5s infinite;
        border-bottom: 2px solid $accent-color;
      }
    }
  }

  .contact {
    position: relative;
    overflow-x: hidden;

    .flex {
      display: flex;
      justify-content: space-between;

      @include m.sp-650 {
        flex-direction: column;
      }

      .text {
        width: 60%;
        color: $main-color;
        font-size: 1.4rem;
        margin-right: 16px;

        @include m.sp-650 {
          width: 100%;
          margin-bottom: $section-space-sp;
        }
      }

      .box {
        width: 40%;

        @include m.sp-650 {
          width: 100%;
        }

        .box-inner {
          width: 260px;
          background-color: $base-color;
          border: 1px solid $main-color;
          margin-inline: auto;

          .title {
            border-bottom: 1px solid $main-color;
            padding: 16px 8px;
          }

          .list {
            padding: 16px 8px;
            .item {
              padding: 8px;

              &:hover {
                text-shadow:
                  0 0 3px #fff,
                  0 0 8px $accent-color;
                animation: neon-flicker-v2 1.5s infinite alternate;

                img {
                  animation: kurukuru 1s ease-out;
                }
              }

              a {
                display: flex;
                align-items: center;
              }

              img {
                width: 30px;
                margin-right: 8px;
              }

              p {
                transition: $transition;
              }
            }
          }
        }
      }
    }

    .maru-border-m {
      position: absolute;
      left: -30px;
      bottom: 50px;
    }
  }
}

// .animoButtonLeft {
//   height: 40px;
//   width: 120px;
//   padding: 0 14px;
//   overflow: hidden;
//   background: #f39c12;
//   position: relative;
//   line-height: 40px;
//   color: #fff;
//   text-align: center;
// }
// .animoButtonLeft span {
//   position: relative;
//   z-index: 1;
// }
// .animoButtonLeft::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   transform: translateX(-100%);
//   background: #474e51;
//   transition: transform 0.2s ease-in-out;
// }
// .animoButtonLeft:hover {
//   cursor: pointer;
//   color: #fff;
// }
// .animoButtonLeft:hover::before {
//   transform: translateX(0);
// }
